TELEGRAM_BOT_TOKEN=changeme-bot-token
WISHLIST_API_BASE_URL=http://localhost:8081
TELEGRAM_WEBAPP_URL=http://localhost:5173/tgapp
WISHES_WEB_URL=http://localhost:5173
BIND_ADDR=:8090
WEBHOOK_PATH=webhook
WEBHOOK_SECRET_TOKEN=changeme-secret-token

